<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    	<div class="container">
      		<a class="navbar-brand" href="/">PokéNameBot</a>

        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
        	</button>

        	<div class="collapse navbar-collapse" id="navbarSupportedContent">
          		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            		<li class="nav-item">
            			<a class="nav-link" routerLink="">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/usage">Usage</a>
					</li>
					<li class="nav-text">
						<a class="nav-link" href="https://discordapp.com/users/689894489036161094/">For Any Issues/Questions, Contact Kenny on Discord</a>
            		</li>
          		</ul>
        	</div>
    	</div>	
  	</nav>  
</header>

<div class="jumbotron">
    <div class="container">
        <div class="Banner">
            <div class="Banner-description">
                <h1>
                    PokéNameBot
                </h1>
                <p>
					Nickname your favorite streamers’ Playthrough Pokemon! Make your claims using the Discord Bot, then use this site to view all available claims. Search for specific claims or get only unclaimed Pokemon to see what’s available.	
				</p>
            </div>
        </div>  
    </div>
</div>

<router-outlet></router-outlet>