<div class="PageContent container">
    <div class="About">
        <div class="About-section">
            <h3 class="About=header">Want Your Viewers and Community to Nickname Your Nuzlocke Team?</h3>
            <p>If you bring this discord bot into your server, you can let your community use commands to claim and nickname any Pokemon. People can make claims, view claims, edit their nicknames, change their claims, and remove claims through the bot using structured Discord commands.</p>
            <img class="About-image" src="assets/about/commands.png" alt="Discord Bot Commands Img">
            <p>Selecting a command will automatically bring up all the parameters to populate.</p>
            <img class="About-image" src="assets/about/commandParams.png" alt="Discord Bot Claim Command Parameters">
        </div>
        <div class="About-section">
            <h3 class="About=header">Tech Breakdown</h3>
            <div class="About-subSection">
                <h4 class="About=subHeader">System Diagram</h4>
                <img class="About-imageFull" src="assets/about/diagram.png" alt="System Diagram">
                <p>The Nuzlocke Name Claim System is fairly simple. Broken down to its simplest components, it’s a database that stores data and a discord bot that views and modifies that data. Everything else around it is used to help with that functionality.</p>
                <ol>
                    <li>
                        <span class="About-listHeader">
                            The Website:
                        </span> 
                        This is what you’re looking at right now. The website was built to give users an easy way to view and search for existing and available claims. </li>
                    <li>
                        <span class="About-listHeader">
                            The Discord Bot: 
                        </span>
                        This is the primary interface for the system. Through the discord bot, you can make claims, edit existing claims, and view claim data for yourself and any Pokemon available. 
                    </li>
                    <li>
                        <span class="About-listHeader">
                            API Gateway: 
                        </span>
                        This is how public systems, such as the website and discord bot, can interface with the Databases. Not everyone should be able to manipulate the data, so this is our way of restricting access to it. API endpoints call Lambda Functions (described below) to perform any number of functions on database tables. 
                    </li>
                    <li>
                        <span class="About-listHeader">
                            Lambda Functions: 
                        </span>
                        This is how we actually manipulate and grab data from the databases. Depending on the functionality, the lambdas can edit tables to make/change a claim or get single entries or whole tables. I’ve also made lambdas to make onboarding new Pokemon and discord servers easier for my future sanity.
                    </li>
                    <li>
                        <span class="About-listHeader">
                            Databases:
                        </span>
                        This is where all the data is stored. Think of it like an excel spreadsheet that I can programmatically edit and get data from. 
                    </li>
                </ol>
            </div>
            <div class="About-subSection">
                <h4 class="About=subHeader">Evolution Lines Table</h4>
                <img class="About-image" src="assets/about/evoLinesTable.png" alt="Evolution Lines Table">
                <p>This table stores all the evolution lines and essential information for each pokemon. The most important data here is the evo-line field. Any time a claim comes in, it checks this table to see what other Pokemon are in that evolutionary line that will also get claimed. </p>
            </div>
            <div class="About-subSection">
                <h4 class="About=subHeader">Claims Tables</h4>
                <img class="About-image" src="assets/about/claimTable.png" alt="Claims Table Sample">
                <p>These tables store every single pokemon available to claim. Unclaimed pokemon will have UNDEFINED in the nickname while claimed pokemon (see Jolteon) will display the nickname and claimer’s discord username and ID. It also stores the next time the user can change their claim, as changing claims is restricted to once every 3 months.</p>
                <p>This website takes the data from these tables and displays it in a more easily consumable and searchable format. </p>
            </div>
        </div>
    </div>
</div>
