/* You can add global styles to this file, and also import other style files */
.PageContent {
	margin-bottom: 30px;
}

.Title {
	margin: 32px;
	text-align: center;
}

@media(max-width: 768px) {
	.Title {
		margin: 16px;
	}
}
